.swiper-slide {
  height: 300px;
  background: #882525;
  line-height: 300px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
.swiper-slide {
    height: 100px;
  background: #882525;
  line-height: 100px;
  text-align: center;  }
}